@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 192px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
    margin-left: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 96px 192px;
    gap: 48px;
}

.hero-text {
    flex: 1;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-sub {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.placeholder {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #7e8084;
}

.sign-up {
    margin: 12px 0;
    border: none;
    color: #E5E7EB;
    font-weight: 600;
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #3882F6;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 42px 0;
}

.info-list {
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 96px;
}

.info-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 164px;
    text-align: center;
    color: #525356;
}

.info-image {
    height: 164px;
    width: 164px;
    border: solid 4px #3882F6;
    border-radius: 16px;
    margin-bottom: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 128px 280px;
}

.quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.quote-author {
    align-self: flex-end;
    font-weight: 900;
    font-size: 24px;
}

.cta {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    margin: 96px 192px;
    border-radius: 8px;
}

.cta-main {
    color: #E5E7EB;
    font-weight: 900;
    font-size: 20px;
}

.cta-sub {
    color: #E5E7EB;
    font-weight: 300;
    font-size: 16px;
}

.cta .sign-up {
    border: solid 2px #E5E7EB;
    padding: 4px 24px;
}